html {
    background: #f3f5ed;
}

body {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.meme {
    margin: 1rem 0;
}

img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    /* width: 50%; */
    height: 100%;
}

label {
    display: block;
    background: #5e8d76;
    /* box-shadow: 0.5rem 0.5rem 0 0 #204637; */
    box-shadow: 0 0 0 0 #204637;
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

/* .memes:hover +  */
.memes:hover label::after {
    visibility: visible;
    scale: 1;
}

label::after {
    visibility: hidden;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    scale: 0.1;
    content: '\002B';
    font-size: larger;
    transition: 0.2s;
}

.content {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: 0.3s all ease-in;
}

input {
    display: none;
    
}

input:checked + label + .content {
    height: 30vw;
    visibility: visible;

}

input:hover + label + .content {
    height: 30vw;
    visibility: visible;
}

.content:hover {
    height: 30vw;
    visibility: visible;
}

input:checked + label::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    content: '\0078';
    font-size: larger;
}

.meme:hover label::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    content: '\0078';
    font-size: larger;
}

input:checked + label {
    box-shadow: 0.5rem 0.5rem 0 0 #204637;
}

input:hover + label {
    box-shadow: 0.5rem 0.5rem 0 0 #204637;
}

/* body {
    color: #2c3e50;
    background: #ecf0f1;
    padding: 0 1em 1em;
}
h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
.row .col:last-child {
    margin-left: 1em;
}


.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
   
}
.tab-label:hover {
    background: #1a252f;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #1a252f;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
} */
