html {
    background: #f3f5ed;
}

body {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h2 {
    display: block;
    background: #5e8d76;
    box-shadow: 0 0 0 0 #204637;
    padding: 1rem;
    padding-right: 2rem;
    margin: 0;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.meme {
    margin: 1rem 0;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    height: 100%;
    border-radius: 2%;
}

.memes:hover h2::after {
    visibility: visible;
    scale: 1;
}

h2::after {
    visibility: hidden;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    scale: 0.1;
    content: '\002B';
    font-size: larger;
    transition: 0.2s;
}

.content {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: 0.3s all ease-in;
    cursor: pointer;
}

.content:hover {
    height: 30vw;
    visibility: visible;
}

input {
    display: none;
}

input:checked + label .content {
    height: 30vw;
    visibility: visible;
}

input:hover + label .content {
    height: 30vw;
    visibility: visible;
}

input:checked h2::after {
    content: '\0078';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
} 

.meme:hover h2::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    content: '\0078';
    font-size: larger;
}

input:checked + label h2 {
    box-shadow: 0.5rem 0.5rem 0 0 #204637;
}

input:checked + label h2::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    content: '\0078';
    font-size: larger;
}

.meme:hover h2 {
    box-shadow: 0.5rem 0.5rem 0 0 #204637;
}

@media (hover: none) {
    h2::after {
        visibility: visible;
        scale: 1;
    }
    
}

@media (max-width: 820px) {
    body {
        width: 80%;
        font-size: 0.8rem;
    }
    
    input:hover + label .content {
        height: 55vw;
        visibility: visible;
    }

    input:checked + label .content {
        height: 55vw;
        visibility: visible;
    }
    
}

@media (max-width: 320px) {
    body {
        width: 90%;
        font-size: 0.6rem;
    }
    
    input:hover + label .content {
        height: 60vw;
        visibility: visible;
    }

    input:checked + label .content {
        height: 60vw;
        visibility: visible;
    }
}